

#main-container {
	width: 85%;
	margin: 0 auto;
}

header {
    height: 95px;
    z-index: 9;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

header .logo {
  float: left;
  width: 200px;
  height: 60px;
  z-index: 10;
}

header div span p {
    font-size: 30px;
    font-family: "MuseoSans";
    color: rgb(0, 115, 96);
    line-height: 0.804;
    padding: 11px;
}

/*.main-background {
  background-image: url("shutterstock_200885033.png");
  opacity: 0.969;
  position: absolute;
  left: 146px;
  top: 90px;
  width: 1017px;
  height: 478px;
  z-index: 5;
}*/
