

#main-container {
	width: 85%;
	margin: 0 auto;
}

header {
  width: 80%;
  margin: 0 auto;
}

.header-text {
  font-size: 2em;
  margin-top: 4px;
  color: #007360;
}
/*
header {
    height: 95px;
    z-index: 9;
    padding-top: 20px;
    width: 100%;
}

.logo {
  float: left;
  width: 200px;
  height: 60px;
}

.header-text {
  font-size: 33px;
}*/
/*
.logo {
  width: 200px;
  height: 60px;
  z-index: 10;
}
/*
.header-text {
    font-size: 30px;
    font-family: "MuseoSans";
    color: rgb(0, 115, 96);
    line-height: 0.804;
    padding: 11px;
}

.main-background {
  background-image: url("images/main-background.png");
  opacity: 0.969;
  width: 1017px;
  height: 478px;
  z-index: 5;
}*/
