

#main-container {
	width: 85%;
	margin: 0 auto;
}

header {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.header-text {
  font-size: 2em;
  margin-top: 4px;
  color: #007360;
  float: right;
}

section {
  background-image: url("../images/main-background.png");
  width: 100%;
  height: 478px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-background-top-left {
  width: 34%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.venti-img {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 12%;
}

.PROTEZIONE_AVANZATA_PER_I_PC {
  font-size: 13.308px;
  font-family: "Arial";
  color: rgb(60, 60, 60);
  font-weight: bold;
  line-height: 4.509;
  text-align: left;
  -moz-transform: matrix( 1.35259608668298,0,0,1.35259608668298,0,0);
  -webkit-transform: matrix( 1.35259608668298,0,0,1.35259608668298,0,0);
  -ms-transform: matrix( 1.35259608668298,0,0,1.35259608668298,0,0);
  position: absolute;
  left: 524.734px;
  top: 667.497px;
  z-index: 120;
}


.venti, .sconto {
  width: 100%;
}

.sconto-img {
    margin-left: 10%;
    margin-top: 48%;
    width: 80%;
}

.icon-container {
  text-align: center;
  position: relative;
}

#icon-container {
  padding-top: 10%;
}

.venti-off {
    border-radius: 50%;
    margin-left: 66%;
    position: absolute;
    background-color: red;
    margin-top: -32%;
    font-size: 20px;
    color: white;
}

/*.Rettangolo_2_copia_3 {
  background-color: rgb(58, 58, 58);
  position: absolute;
  left: 848px;
  top: 1073px;
  width: 271px;
  height: 3px;
  z-index: 118;
}
*/

li {
  padding-left: 20px;
}

button:after {
    content:'\25BA';
    padding-left: 10px;
}

footer {
  background-color: rgb(90, 111, 121);
  padding: 20px;
}

.social {
  display: inline-flex;
  list-style: none;
  padding-top: 28px
}
















